:root {
  color-scheme: light;
}
body {
  --bg: #0C0C0C;
  --text: #FFFFFF;
  --stext: #000000;
  --blue: #557AFF;
  --secondary: #EDEDED;
  --main: #0075FF;
}
body.light {
  --bg: #EDEDED;
  --text: #000000;
  --stext: #FFFFFF;
  --blue: #557AFF;
  --secondary: #0C0C0C;
  --main: #0075FF;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}
* {
  font-family: 'Montserrat', sans-serif;
}
.scroll-content {
  max-width: 100vw;
  overflow-x: hidden;
}
button {
  cursor: pointer;
}
